* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
.main {
  background-color: antiquewhite;
}

/* #everything {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

#everything section {
  height: 100vh;
  

  scroll-snap-align: start;
}

.one {
  
  background: linear-gradient(grey,white, grey);
}
.two {
  background: red;
}
.three {
  background: yellow;
}
.four {
  background: grey;
} */